{% extends 'index.html' %}
{% load static %}
{% block title %}Update{% endblock %}
{% block content %}

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">

                <div class="card" style="border-radius: 15px;">
                    <div class="card-body">

                        <h6 class="mb-3">Update List</h6>

                        <form action="" method="post" class="d-flex justify-content-center align-items-center mb-4">
                            {% csrf_token %}
                            <div class="form-outline flex-fill">
                                <input type="text" id="form3" name="task" class="form-control form-control-lg" value="{{obj.task}}"/>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg ms-2">Update</button>
                        </form>

                    

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}